body {
   /* font-family: 'Lobster', sans-serif; */
    width:1440px;
    height:200px;
    background-color: #F5F5F5;
    margin:0 auto;
}

.header {
    height: 82px;
    background: linear-gradient(#CADABA, #e5e6e4);
    box-shadow: 2px 6px 22px -1px #000000;
    margin-bottom: 39px;
}

.main {
    width:1400px;
    margin:0 auto;
}

.button-left {
    /* text-align: center; */
}

/*.button-cat {
    font-size:30px;
    cursor:pointer;
}*/

.button-right {
   /* float: right;*/
}


.sidenav {
   display: none;
    height: 100%;
    width: 373px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A5B87E33;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cards {
    /* display: flex; */

    display: grid;
  grid-template-columns: repeat(auto-fill, 259px);
  justify-content: space-between;
  flex-flow: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.card-text {
    margin: auto;
}
.card-image {
    width: 259px;
    height: 300px;
    border-radius: 79px;
}
.card-title {
    margin-bottom: 0px;
    margin-top: 0px;
}
.button-add-cart {
    width: 142px;
    height: 27px;
    border-radius: 13.5px;
background-color: #cbd7b3;

}


