/* Страница профиля */

.profile-main {
    padding-top: 51px;
    display: flex;
    justify-content: space-around;
  }
  .title-profile {
  
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
  
  }
  
  .title-info {
    margin-bottom: 17px;
  }
  
  .about-user {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 691px;
  }
  .info {
    background-color: #FCFCFC;
    width: 691px;
    height: 412px;
    border-radius: 79px;   
    border: 1px;
    padding-top: 46px;
  }
  
  .info p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .input-info {
    width: 567px;
    height: 55px;
    padding-left: 21px;
    border: 1px solid #E0E0E0;
    border-radius:79px;
    background-color:#F5F5F5;
    font-family: Amiko;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    cursor: default;
  
    
  }
  
  .btn-exit {
    width: 254px;
    height: 38px;
    margin-top: 45px;
    padding: 9 51 9 52;
    border-radius: 20px; 
    background-color:#D5A9A9;
    border:none;
  
  }
  
  .receipts-block {
    width: 600px;
    text-align: center;
  }
  
   .receipts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
  
  }
  .receipt {
    width: 128px;
    height: 172px;
    border-radius: 20px;
    background-color: #D9D9D9;
    margin-bottom: 11px;
  
  }