/* Страница профиля */

.profile-main {
    padding-top: 105px;
    display: flex;
    justify-content: space-around;
  }
  .title-profile {
  
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
  
  }
  
  .title-info {
    margin-bottom: 17px;
  }
  
  .about-user {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 48%;
  }
  .info {
    background-color: #FCFCFC;
    width: 100%;
    border-radius: 79px;   
    border: 1px;
    padding-top: 46px;
    padding-bottom: 20px;
  }
  .input-info {
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    border: 1px solid #E0E0E0;
    border-radius:79px;
    background-color:#F5F5F5;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    cursor: default;
  }
  
  .btn-exit {
    width: 37%;
    height: 38px;
    margin-top: 45px;
    padding: 9 51 9 52;
    border-radius: 20px; 
    background-color:#D5A9A9;
    border:none;
  
  }
  .btn-exit:hover{
    background: rgba(205, 147, 147, 1);
  }
  
  .receipts-block {
    width: 600px;
    text-align: center;
  }
  
   .receipts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
  
  }
  .receipt {
    width: 50%;
    height: 40%;
    border-radius: 20px;
    margin-bottom: 11px;
  
  }
  .receipt embed{
    width:100%;
    height:100%;
    margin-bottom: -5px;
  }
  .showCheq{
    width:100%;
    height: 20px;
    border-radius: 20px;
    border: none;
    background: rgba(164, 203, 195, 1);
  }
  .showCheq:hover{
    background: rgba(204, 223, 219, 1);

  }